<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="michal.cardmaker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TemplateSinglePhoto"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.CropActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MaximizePostcard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TemplateTwoVerticalPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.TemplateTwoHorizontalPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.TemplateFourPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.ReverseCreator"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".view.MaximizeReverse" />
        <activity android:name=".view.TemplateTwoPlusOneHorizontal"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.TemplateTwoPlusOneVertical"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ReverseToMergeSelection"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".view.ReverseMergePostcard"
            android:screenOrientation="portrait"/>
    </application>

</manifest>